@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Electrolize|Open+Sans:300,400,600|Slabo+27px|Pacifico|Archivo+Black');

@import "variables";

@font-face {
  font-family: 'portfolio';
  src:  url('#{$icomoon-font-path}/portfolio.eot?lgku13');
  src:  url('#{$icomoon-font-path}/portfolio.eot?lgku13#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/portfolio.ttf?lgku13') format('truetype'),
    url('#{$icomoon-font-path}/portfolio.woff?lgku13') format('woff'),
    url('#{$icomoon-font-path}/portfolio.svg?lgku13#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'portfolio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-education {
  &:before {
    content: $icon-education;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-brand {
  &:before {
    content: $icon-brand;
  }
}
.icon-iocns-05 {
  &:before {
    content: $icon-iocns-05;
  }
}



