.contact-wrapper
    background: url(../img/map.jpg)
    padding: 100px 0
    text-align: center
    margin-bottom: 350px

    h1
        display: block

    span
        display: block
        margin-top: 75px
        font-size: 3em
        font-family: "Slabo 27px",serif
        font-weight: 600
        color: $black
        letter-spacing: 5px
        padding-bottom: 45px

    a
        background: $dark-green
        color: $white
        padding: 10px 30px
        font-size: 1.5em

@media (max-width: 768px)
    .contact-wrapper
        padding: 50px 0 100px

        span
            font-size: 2.5em

@media (max-width: 360px)
    .contact-wrapper
        padding: 30px 0 70px

        h1
            font-size: 20px

        span
            font-size: 1.5em
            letter-spacing: 2px

        a
            font-size: 1em


