.contact-wrapper
    background:
        image: url(../img/header-background11.jpg)
        repeat: no-repeat
        size: cover
    text-align: center
    margin-bottom: 220px
    width: 100%
    float: left
    position: relative
    z-index: 5000

.contact-background
    background: rgba(21, 21, 21, 0.8)
    width: 100%
    float: left
    padding: 125px 0

.contact-bro
    float: left
    width: 100%

    h1
        color: #fb383b
        display: block
        font-family: "Slabo 27px",serif
        font-size: 45px
        letter-spacing: 2px
        margin: 0
        padding-right: 25px
        text-transform: uppercase

    p
        border-bottom: 1px dashed #35444a
        color: #c0c0c0
        display: inline-block
        font-family: "Open Sans",sans-serif
        font-size: 20px
        font-weight: 300
        margin-top: 10px
        padding: 0 75px 25px

    .contact-animate
        @include animate-time (1s)
        @include transform(translateX(10%))
        opacity: 0

    .contact-effect
        @include transform(translateX(0))
        opacity: 1

    h2
        color: #fff
        display: block
        font-family: "Slabo 27px",serif
        font-size: 2.5em
        font-weight: 600
        letter-spacing: 5px
        padding: 5%
        word-spacing: 2px
        margin: 0

    a
        border: 1px solid #888888
        color: #888888
        display: inline
        font-size: 26px
        padding: 12px 30px
        text-transform: full-width
        margin-right: 10px
        @include border-radius(100px)
        @include animate-time(320ms)
        
        &:hover
            color: #fb383b
            background: #fff

        &:before
            font-family: fontAwesome
            content: '\f003'
            padding-right: 15px

    .contact-zoomin
        @include animate-time (1s)
        @include transform(scale(1))
        opacity: 0

    .contact-zoomout
        @include transform(scale(1.1))
        opacity: 1


@media (max-width: 768px)
    .contact-left,
    .contact-right
        text-align: right
        width: 100%
        padding: 0 35px
        border: none

    .contact-right
        padding-top: 5%
        margin-top: 5%
        border-top: 1px dashed #35444A
        padding-left: 10%
        text-align: left

        span
            padding-bottom: 5%

@media (max-width: 480px)
    .contact-background
        padding: 80px 0
        
    .contact-bro
        h1
            font-size: 32px

        p
            font-size: 14px
            padding: 0 15px 25px

        h2
            font-size: 1.5em
            padding: 5% 5% 15%

        a
            font-size: 20px




