<section class="contact-wrapper" id="contact">

	<div class="contact-background">

		<div class="container">

			<div class="contact-left">
				
				<h1 class="contact-animate"> <span> Get  </span>in touch </h1>

			    <p class="contact-animate">Tell us about your project and  we’ll help you to <br> make it come alive.</p>

			</div> <!-- end contact left -->

			<div class="contact-right">
				
				<span class="contact-zoomin"> {{ site.data.footer.call }} </span>

			    <a href="mailto:developer.rahuman@gmail.com" class="contact-zoomin">Email me</a>

			</div> <!-- end contact right -->

		</div>

    </div>

</section>