<section class="cv-info codepen" data-stellar-background-ratio="0.5">

	<div class="dark-background">

        <div class="container">

			<div class="codepen-content">

				<h1 class="penspot"> <img src="assets/img/codepen.png"> Experiments  </h1>

				<p class="penspot"> Need to build a reduced test case to demonstrate and figure out a bug? CodePen is great for that. Want to show off your latest creation and get feedback from your peers? CodePen is great for that. Want to find examples of a particular design pattern for your project? CodePen is great for that. </p>

				<a href="https://codepen.io/rahu88man/" class="penspot"> View Pens </a>

			</div>
        	
	    </div>

	 </div>

</section> <!-- end less description -->
