<section class="cv-info education">

    <div class="center-contents">

    	<div class="title">

    		<h1 class="title-animateRightt"> Education </h1>
			
			<p class="title-animateLeftt"> Education is the most powerful weapon which you can use to change the world. </p>

    	</div>

    	<div class="edu-wrapper">

    	{% for wisdom in site.data.education.wisdomz %}

	    	<div class="timeline-container">

	    		<span class="icon-education icon"></span>
	
	        	<div class="timeline-position">

	        		<div class="position-animate">

		        		<h3> {{ wisdom.name }} </h3>

		        		<span> {{ wisdom.period }} </span>

	        		</div>

	        	</div> <!-- end position -->

	        	<div class="timeline-contents">

	        		<div class="contents-animate">

		        		<h3> {{ wisdom.school }} </h3>

		        		<p> {{ wisdom.description }} </p>

	        		</div>
	        		
	        	</div> <!-- end time line contents -->

	        </div> <!-- end time line container -->

	    {% endfor %}

        </div>

    </div>

</section> <!-- end less description -->
