<section class="cv-info skill">

    <div class="skill-container">

    	<div class="title">

    		<h1> Skills</h1>
			
			<p class="skill-quote"> Through my education, I didn't just develop skills, I didn't just develop the ability to learn, but I developed <b> Confidence. </b> </p>

    	</div>

        <div class="skill-contents">

		  <div class="skill-buddies">

		    <div class="sk-container">
		      <label>Front End Development</label>
		      <div class="skills level-90"> <span> 90% </span> </div>
		    </div>

		    <div class="sk-container">
		      <label>E commerce</label>
		      <div class="skills level-85"> <span> 85% </span> </div>
		    </div>

		    <div class="sk-container">
		      <label>Management</label>
		      <div class="skills level-80"> <span> 80% </span> </div>
		    </div>

		    <div class="sk-container">
		      <label>Team Leadership</label>
		      <div class="skills level-80"> <span> 80% </span> </div>
		    </div>

		    <div class="sk-container">
		      <label>Business Strategy</label>
		      <div class="skills level-65"> <span> 65% </span> </div>
		    </div>

		  </div>
		  
		</div>
		<!-- end skill-contents -->

    </div>

</section> <!-- end less description -->
