<section class="featured-project">
    <h1> Stuff I've been working on!</h1>
    <hr>

    <div class="featured-wrapper">

        <div class="featured-img">

            <img src="assets/img/featured.jpg" alt="featured web page">

        </div> <!-- end featured img -->

        <div class="featured-contents">

            <h3>{{ site.data.settings.featured-title }}</h3>

            <p>{{ site.data.settings.featured-para }}</p>

            <a href="{{ site.data.settings.featured-link }}" class="demo"> Demo </a>

        </div> <!-- featured contents -->

    </div> <!-- end featured wrapper -->

</section>