<header data-stellar-background-ratio="0.5">

    <div class="wrapper-background">


    <div class="container">

        <div class="logo"> <a href="index.html"> # </a> </div>

        <nav>

            <ul>

              {% for item in site.data.header.menu %}

                <li> <a href="{{ item.url | prepend: site.github.url }}" class="{{ item.blow }}">{{ item.name }}</a> </li>

              {% endfor %}

            </ul>

        </nav>

        <div class="phone-number">
            <span>
                {{ site.data.header.call }}
            </span>
        </div>

        <h1> Hellow World! </h1>

        <p> <label> Rahuman Bin Hussain - </label> {{ site.data.header.favorites }}</p>

        <a href="#about"> <span class="scroller"> <i class="fa fa-angle-down" aria-hidden="true"></i> </span> </a>

    </div> <!-- end container -->

    </div>

</header>