<header data-stellar-background-ratio="0.5" class="home-page">

    <div class="wrapper-background">

            <div class="header-contents">

                <div class="container">
                
                    <div class="logo"> <a href="index.html"> <img src="assets/img/logo.png"> </a> </div>
                    
                    <div class="button-wrap">
                    
                        <span></span>
                        <span></span>
                        <span></span>
                    
                    </div>

                </div>
            
            </div>  <!-- end header contents -->

            <div class="header-body">

                <h4> Hellow World! </h4>

                <h1> {{ site.data.header.myname }} </h1>

                <p> {{ site.data.header.favorites }} </p>

            </div> <!-- end header body -->

    </div> <!-- end wrapper background -->

    <div class="menu-background">
    
            <nav>

                <ul>

                    {% for item in site.data.header.menu %}

                    <li> <a href="{{ item.url | prepend: site.github.url }}" class="{{ item.blow }}">{{ item.name }}</a> </li>

                    {% endfor %}

                </ul>

            </nav>

    </div>


</header>