<header data-stellar-background-ratio="0.5">

    <div class="wrapper-background">


    <div class="container">

        <div class="logo"> </div>

        <nav>

            <ul>

              {% for item in site.data.settings.menu %}

                <li> <a href="{{ item.url }}">{{ item.name }}</a> </li>

              {% endfor %}

            </ul>

        </nav>

        <div class="phone-number">
            <span>
                {{ site.data.settings.call }}
            </span>
        </div>

        <h1>Hellow World! </h1>
        <p> <label> Rahuman Bin Hussain - </label> {{ site.data.settings.favorites }}</p>

    </div> <!-- end container -->

    </div>

</header>