<section class="folio-wrapper" id="portfolio">

  <div class="port-container">

  <h1> What I did </h1>

  <article class="portfolio-column">

    {% for port in site.data.portfolio.ports %}

      <div class="column">

        <a href="{{ port.link }}" target="_blank">
          
          <img src="{{ port.path }}">

          <div class="overlay">

            <div class="overlay-cell">
            
              <h3> {{ port.name }}</h3>

              <cite> {{ port.cite }} </cite>

            </div> <!-- end overcell -->

          </div>

        </a>

      </div> <!-- end column -->

    {% endfor %}

  </article>

  </div>

</section>