<section class="service-wrapper sw" id="service">
    <h1> Stuff I do!</h1>
    <hr>

    <p> {{ site.data.settings.service }} </p>

    <div class="service">

        <div class="sw-branding">
            <span class="fa fa-gg" aria-hidden="true"></span>
            <label>Branding</label>
        </div>

        <div class="sw-ui">
            <span class="fa fa-code" aria-hidden="true"></span>
            <label>UI Development </label>
        </div>

        <div class="sw-hosting">
            <span class="fa fa-ioxhost" aria-hidden="true"></span>
            <label>Web Hosting</label>
        </div>

    </div>

</section>