<section class="service-wrapper" id="service">
  <div class="service-list">

    <div class="grid-3 bg-grey">
       <span class="icon-animate icon-brand icon"></span> <strong class="service-animate"> Design what you want </strong> <span class="service-animate tags"> Logo & etc..</span>
        <p class="">I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send.</p>
    </div>
    <!-- end grid 3 -->

    <div class="grid-3 bg-bright"> <div> <span class="icon-animate icon-code icon"></span> <strong class="service-animate"> Front End Development </strong> <span class="service-animate tags">Responsive Layouts</span>
      <p class="">I develope a front end base Responsive Websites, Landing pages, Newsletters with clean, reusable, elegant codes. </p>
      </div>
    </div>
    <!-- end grid 3 -->
    
    <div class="grid-3 bg-grey"> <span class="icon-animate icon-cloud icon"></span> <strong class="service-animate"> Hosting </strong> <span class="service-animate tags"> Domain | Server </span>
      <p class="">We offer fast, reliable plans for every need. When building a website, start here. Our shared service delivers a powerful, proven platform that's perfect for hosting your websites.</p>
    </div>
    <!-- end grid 3 --> 
    
  </div>
  <!-- end service list --> 
  
</section>
