@mixin animate-time ($time)
    transition: all $time ease
    -moz-transition: all $time ease
    -webkit-transition: all $time ease
    -ms-transition: all $time ease
    -o-transition: all $time ease

// header animation
@mixin animate-nav ($attr, $time)
    transition: $attr $time ease
    -webkit-transition: $attr $time ease
    -moz-transition: $attr $time ease
    -ms-transition: $attr $time ease
    -o-transition: $attr $time ease

@mixin transform ($val)
    transform: $val
    -webkit-transform: $val
    -moz-transform: $val
    -ms-transform: $val
    -o-transform: $val

@mixin scroller-arrow ($attr, $time)
    animation: $attr $time infinite
    -webkit-animation: $attr $time infinite
    -moz-animation: $attr $time infinite
    -ms-animation: $attr $time infinite
    -o-animation: $attr $time infinite

@mixin box-sizing($box-model)
    -webkit-box-sizing: $box-model
    -moz-box-sizing: $box-model
    box-sizing: $box-model

